<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">Sidenav</mat-sidenav>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Birds</span>
      <span class="nav-spacer"></span>
      <button mat-button routerLink="/">home</button>
      <button mat-button routerLink="/coupon">coupon</button>
      <button mat-button routerLink="/checkout">checkout</button>
      <button mat-button>help</button>
    </mat-toolbar-row>


  </mat-toolbar>
  <button mat-button (click)="sidenav.toggle()">menu</button>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
