<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-list>
      <mat-list-item>
        <button mat-button matTooltip="Home" routerLink="/">
          <mat-icon>home</mat-icon> Home
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button matTooltip="Coupon" routerLink="/coupon">
          <mat-icon>receipt</mat-icon> Coupon
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button matTooltip="Checkout" routerLink="/checkout">
          <mat-icon>shopping_cart</mat-icon> Checkout
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button>
          <mat-icon matTooltip="Help">help</mat-icon> Help
        </button>
      </mat-list-item>
    </mat-list>

  </mat-sidenav>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Birds</span>
      <span class="nav-spacer"></span>
      <button mat-button matTooltip="Home" routerLink="/">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-button matTooltip="Coupon" routerLink="/coupon">
        <mat-icon>receipt</mat-icon>
      </button>angluar
      <button mat-button matTooltip="Checkout" routerLink="/checkout">
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <button mat-button>
        <mat-icon matTooltip="Help">help</mat-icon>
      </button>
      <button mat-button>
        <mat-icon matTooltip="Login" routerLink="/login">account_box</mat-icon>
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
