@import "../styles";

.mat-sidenav-container {

    @include angular-material-theme($dark-theme);
  .mat-toolbar {

    .mat-toolbar-row:first-of-type {
      background: mat-color($birds-app-primary, 700);
    }

    .mat-toolbar-row:last-of-type {
      background: mat-color($birds-app-primary, 300);
    }

    button {
      color: white;
      width: 60px;
      padding: inherit;
      min-width: inherit;
    }
  }
}

.container{
  width: 800px;
  margin: auto;
  position: relative;
  top: -40px;
}


.nav-spacer {
  flex: 1 1 auto;
}

