/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

@include mat-core();

// Define the theme.
$dark-primary: mat-palette($mat-red);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary,$dark-accent,$dark-warn);

// Define the theme.
$birds-app-primary: mat-palette($mat-green);
$birds-app-accent: mat-palette($mat-cyan, A400, A100, A200);
$birds-app-theme: mat-light-theme($birds-app-primary, $birds-app-accent);

body {
  margin: 0px;
  background: #efefef;
}

body, html, .mat-sidenav-container {
  margin: 0;
  height: 100vh;
}

.filler {
  visibility: hidden;
  flex-grow: 1;
}
